<%- include header %>
	<div class="container mB50">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <article class="post">
          <h1>范子冬的简历</h1>
          <div id="basicinfo">
          	<dl class="dl-horizontal">
          		<dt>籍贯</dt>
          		<dd>安徽省 安庆市</dd>
          		<dt>学历</dt>
          		<dd>武汉大学 软件工程 本硕(2007-2013)</dd>
          		<dt>现居</dt>
          		<dd>湖北武汉</dd>
          		<dt>工作</dt>
          		<dd>鼎点视讯武汉研究所 java工程师/前端工程师</dd>
          		<dt>主页</dt>
          		<dd><a href="http://www.fanzidong.name">http://www.fanzidong.name</a></dd>
          		<dt>github</dt>
          		<dd><a href="https://github.com/vanzand" target="_blank">@vanzand</a></dd>
          		<dt>邮箱</dt>
          		<dd>450323391@qq.com</dd>
          	</dl>
          </div>

          <h2>技能栏</h2>
          <div class="progress-div">
            <span>Java</span>
            <div class="progress progress-striped">
              <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only">80% Complete (success)</span>
              </div>
            </div>
          </div>
          <div class="progress-div">
            <span>HTML</span>
            <div class="progress progress-striped">
              <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only">85% Complete (success)</span>
              </div>
            </div>
          </div>
          <div class="progress-div">
            <span>CSS</span>
            <div class="progress progress-striped">
              <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="progress-bar progress-bar-warning">
                <span class="sr-only">70% Complete (success)</span>
              </div>
            </div>
          </div>
          <div class="progress-div">
            <span>JQuery</span>
            <div class="progress progress-striped">
              <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only">85% Complete (success)</span>
              </div>
            </div>
          </div>
          <div class="progress-div">
            <span>nodejs</span>
            <div class="progress progress-striped">
              <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
                <span class="sr-only">60% Complete (success)</span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  </div>
<%- include footer %>

</body>
</html>