<%- include mgtHeader %>
  <div class="container mB50">
    <div class="row">
     <div class="col-xs-10 col-md-8 col-md-offset-2">
       <article class="post">
        <ul class="nav nav-tabs">
          <li><a href="/setting/baseInfo">基本资料</a></li>
          <li class="active"><a href="/setting/password">修改密码</a></li>
        </ul>
        <form role="form" class="form form-horizontal" method="post">
          <div class="form-group">
            <label for="old_password" class="control-label col-sm-2">旧密码</label>
            <div class="col-sm-10">
              <input name="old_password" type="password" class="form-control" required="required" pattern="^\w{5,19}$">
              <span class="help-block">密码长度允许5~19字符</span>
            </div>
          </div>
          <div class="form-group">
            <label for="new_password" class="control-label col-sm-2">新密码</label>
            <div class="col-sm-10">
              <input name="new_password" type="password" class="form-control" required="required" pattern="^\w{5,19}$">
              <span class="help-block">密码长度允许5~19字符</span>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm_password" class="control-label col-sm-2">确认密码</label>
            <div class="col-sm-10">
              <input name="confirm_password" type="password" class="form-control" required="required" pattern="^\w{5,19}$">
              <span class="help-block">请再次输入你的新密码</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <input type="submit" class="btn btn-primary" value="保存">
            </div>
          </div>
        </form>
       </article>
     </div> 
    </div>
  </div>
  </div>
<%- include footer %>
</body>
</html>
