body {
  font-family: "jubilat", "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
  font-size: 1.6rem;
  background: none repeat scroll 0 0 #E6E6E6;
}

a{
  text-decoration: none;
  vertical-align: baseline;
  transition: all 0.2s ease 0s;
}

a:hover{
  color: #51ADED;
  text-decoration: none;
}

.form-signin {
  margin: 50px auto;
  max-width: 330px;
  padding: 15px;
}

.form-signin h1{
  text-align: center;
}

.form-signin input{
  margin-bottom: 10px;
}

.navbar-blue {
  background-color: #00A4E4;
  border-color: #00A4E4;
}

.navbar-blue a {
  color: #ffffff;
}

.navbar-blue a:hover{
  background-color: #ffffff;
  color: #000000;
}

.navbar-blue .navbar-toggle {
    border-color: #00A4E4;
}

.navbar-blue .navbar-toggle:hover {
    background-color: #5DC8EF;
}

.navbar-blue .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

article.post{
  background: none repeat scroll 0 0 #ffffff;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3); 
  padding: 24px 20px 34px 20px;
  margin-bottom: 30px;
}

article.post span.label{
  float: right;
  margin-right: 5px;
}

.label a{
  color: #ffffff;
}

.panel_head{
  background-color: #F5F5F5;
  box-shadow: 0 1px 0 #E0E0E0;
  padding: 7px 10px;
}

.dropdown-menu-blue{
  padding: 0;
}
.dropdown-menu-blue > li > a{
  color: #ffffff;
  background-color: #00A4E4;
  border-color: #00A4E4;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-tabs{
  margin-bottom: 20px;
}

.dl-horizontal dt{
  text-align: left;
  width: 100px;
  padding: 3px 0;
}

.dl-horizontal dd{
  text-align: left;
  margin-left: 100px;
  padding: 3px 0;
}

.progress-div span{
  float: left;
  display: inline-block;
  width: 70px;
}

footer{
  background-color: #ffffff;
  box-shadow: 0 2px -6px rgba(100, 100, 100, 0.3); 
}

#gotop{ 
  display:block;  
  width:60px; 
  height:60px;
  position:fixed;  
  bottom:50px;  
  right:40px; 
  border-radius:10px 10px 10px 10px;   
  text-decoration:none;  
  display:none;  
  background-color:#999999;     
}

#gotop span{ 
  display:block; 
  width:60px; 
  color:#dddddd; 
  font-size:40px; 
  text-align:center; 
} 

#gotop span:hover{ 
  color:#cccccc; 
} 

.edit-article{
  vertical-align: middle;
}

.edit-article a{
  float: right;
  margin-right: 10px;
}

.w200{
  width: 200px;
}

.inline-bolck{
  display: inline-block;
}

.post .img-thumbnail{
  max-width: 300px;
  max-height: 180px;
}