.wrapper {
  width: 500px;
  margin: 0 auto;
}
#titleMsg {
  position: relative;
}
.scoreDiv {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
}
#game-container {
  width: 500px;
  height: 500px;
  background: none repeat scroll 0 0 #999999;
  border-radius: 5px;
  position: relative;
  padding: 20px;
}
#board-container {
  z-index: 0;
  position: absolute;
}
.board-row {
  margin-bottom: 20px;
}
.board-row:after {
  clear: both;
  content:"";
  display: block;
}
.board-cell {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background: none repeat scroll 0 0 #CDC1B4;
  border-radius: 5px;
  float: left;
}
.board-cell:last-child {
  margin-right: 0;
}
#number-container {
  position: absolute;
}
.num-cell {
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.num_cell_inner{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  font-size: 44px;
  font-weight: bolder;
  text-align: center;
  line-height: 100px;
}
.num_cell_2 .num_cell_inner{
  background-color: #eee4da;
}
.num_cell_4 .num_cell_inner{
  background-color: #ede0c8;
}
.num_cell_8 .num_cell_inner{
  color: #f9f6f2;
  background-color: #f2b179;
}
.num_cell_16 .num_cell_inner{
  color: #f9f6f2;
  background-color: #f59563;
}
.num_cell_32 .num_cell_inner{
  color: #f9f6f2;
  background-color: #f67c5f;
}
.num_cell_64 .num_cell_inner{
  color: #f9f6f2;
  background-color: #f65e3b;
}
.num_cell_128 .num_cell_inner{
  color: #f9f6f2;
  background-color: #edcf72;
}
.num_cell_256 .num_cell_inner{
  color: #f9f6f2;
  background-color: #edcc61;
}
.num_cell_512 .num_cell_inner{
  color: #f9f6f2;
  background-color: #edc850;
}
.num_cell_1024 .num_cell_inner{
  color: #f9f6f2;
  background-color: #edc53f;
}
.num_cell_2048 .num_cell_inner{
  color: #f9f6f2;
  background-color: #edc22e;
}
/*  算出每个文字格子应该的偏移,横纵方向每隔一个的偏移都是120 */
 .num_cell_0_1 {
  -moz-transform: translate(120px, 0);
  -webkit-transform: translate(120px, 0);
  transform: translate(120px, 0);
}
.num_cell_0_2 {
  -moz-transform: translate(240px, 0);
  -webkit-transform: translate(240px, 0);
  transform: translate(240px, 0);
}
.num_cell_0_3 {
  -moz-transform: translate(360px, 0);
  -webkit-transform: translate(360px, 0);
  transform: translate(360px, 0);
}
.num_cell_1_0 {
  -moz-transform: translate(0, 120px);
  -webkit-transform: translate(0, 120px);
  transform: translate(0, 120px);
}
.num_cell_1_1 {
  -moz-transform: translate(120px, 120px);
  -webkit-transform: translate(120px, 120px);
  transform: translate(120px, 120px);
}
.num_cell_1_2 {
  -moz-transform: translate(240px, 120px);
  -webkit-transform: translate(240px, 120px);
  transform: translate(240px, 120px);
}
.num_cell_1_3 {
  -moz-transform: translate(360px, 120px);
  -webkit-transform: translate(360px, 120px);
  transform: translate(360px, 120px);
}
.num_cell_2_0 {
  -moz-transform: translate(0, 240px);
  -webkit-transform: translate(0, 240px);
  transform: translate(0, 240px);
}
.num_cell_2_1 {
  -moz-transform: translate(120px, 240px);
  -webkit-transform: translate(120px, 240px);
  transform: translate(120px, 240px);
}
.num_cell_2_2 {
  -moz-transform: translate(240px, 240px);
  -webkit-transform: translate(240px, 240px);
  transform: translate(240px, 240px);
}
.num_cell_2_3 {
  -moz-transform: translate(360px, 240px);
  -webkit-transform: translate(360px, 240px);
  transform: translate(360px, 240px);
}
.num_cell_3_0 {
  -moz-transform: translate(0, 360px);
  -webkit-transform: translate(0, 360px);
  transform: translate(0, 360px);
}
.num_cell_3_1 {
  -moz-transform: translate(120px, 360px);
  -webkit-transform: translate(120px, 360px);
  transform: translate(120px, 360px);
}
.num_cell_3_2 {
  -moz-transform: translate(240px, 360px);
  -webkit-transform: translate(240px, 360px);
  transform: translate(240px, 360px);
}
.num_cell_3_3 {
  -moz-transform: translate(360px, 360px);
  -webkit-transform: translate(360px, 360px);
  transform: translate(360px, 360px);
}
.num_cell_new .num_cell_inner{
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.num_cell_merged .num_cell_inner{
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
/*
.num-cell{
    position: absolute;
    color: #ffffff;
    background-color: #eee4da;
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    line-height: 100px;
    z-index: 10;
}

@media screen and (max-width: 520px){
    .topMessage{
        width: 300px;
    }

    .board{
        width: 300px;
        height: 300px;
        padding: 12px;
        background: none repeat scroll 0 0 #999999;
        border-radius: 5px;
        margin: 0 auto;
    }

    .board-row{
        width: 100%;
        height: 60px;
        margin-bottom: 12px;
    }

    .board-cell{
        width: 60px;
        height: 60px;
        margin-right: 12px;
        background: none repeat scroll 0 0 #CDC1B4;
        border-radius: 5px;
        float: left;
    }

    .scoreDiv{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
    }
}*/
